<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Portfolio-20190303100435.mdf;Initial Catalog=aspnet-Portfolio-20190303100435;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>